<h1><%= @user.short_name%>的個人檔案</h1>

<div><img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text=img+placeholder"></div>


<table class="table table-striped">
		<th><span style="font-size: 35px">Nickname :     <%= @profile.try(:nickname) %></span></th>
		<td></td>
		<td></td>
		<tbody>
	<tr></tr>
		<td><span style="font-size: 25px">Biography</span></td>
		<td></td>
		<td></td>
	<tr></tr>
		<td><%= @profile.try(:bio) %></td>
		<td></td>
		<td></td>
	<tr>
		<% if current_user == @user%>
			<%= link_to "編輯個人資料" , edit_user_profile_path(@user) , :class => "btn btn-info" %>
		<% end %>	
		<%= link_to "#{@user.short_name} 喜歡的文章" , likes_user_profile_path(:user_id => @user.id) , :class => "btn btn-primary" %>	
		<%= link_to "#{@user.short_name} 的收藏" , subscribes_user_profile_path(@user) , :class => "btn btn-success" %>
	</tr>
		<td><span style="font-size: 25px "><%= @profile.try(:nickname) %> 的文章</span></td>
		<td>回覆數量</td>
	<tr><% @profiletopics.each do |t|%></tr>
		<td><%= t.title %></td>
		<td><%= t.comments.count %></td>
		<td></td>
			<td></td>	
		<% end %>
	</tbody>
		
</table>

<div><%= paginate @profiletopics , :theme => 'twitter-bootstrap-3', :param_name => "page_topic" %></div> 
<%= link_to "Back to Topics" ,topics_path , :class => "btn btn-info"%>

<br \> 	
<table class="table table-striped">
	<th><span style="font-size: 25px"><%= @profile.try(:nickname) %> 回覆的文章</th>
	<td>回覆文章</td>
	<tr><% @profilecomment.each do |c| %></tr>
		<% if c.topic != nil %>
			<td><%= c.content %></td>
			<td><%= c.topic.title %></td>
		<% else %>
				
		<% end %>
	<% end %>


</table>

<div><%= paginate @profilecomment , :theme => 'twitter-bootstrap-3', :param_name => "page_comment" %></div> 
<%= link_to "Back to Topics" ,topics_path , :class => "btn btn-info"%>