<h1><%= current_user.short_name%>的個人檔案</h1>

<div><img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text=img+placeholder"></div>


<table class="table">
	

	<td>Nickname : <%= @profile.try(:nickname) %></td>
	<tr></tr>
	<td>Biography</td>
	<tr></tr>
	<td><%= @profile.try(:bio) %></td>
	<tr><%= link_to "編輯個人資料" , edit_user_profile_path(@user) , :class => "btn btn-info" %></tr>
	<td><span style="font-size: 20px "><%= @profile.try(:nickname) %> 的文章</span></td>
	<td>回覆數量</td>
	<tr><% @user.topics.each do |t|%></tr>
	
	
	<td><%= t.title %></td>
	<td><%= t.comments.count %></td>
		<% end %>
	
		
</table>


<%= link_to "Back to Topics" ,topics_path , :class => "btn btn-info"%>

