<h1><%= current_user.short_name%>的個人檔案</h1><%= link_to "Back to Topics" ,topics_path , :class => "btn btn-info"%>

<div><img src="https://api.fnkr.net/testimg/350x200/00CED1/FFF/?text=img+placeholder"></div>


<table class="table table-striped">
	

		<th><span style="font-size: 35px">Nickname :     <%= @profile.try(:nickname) %></span></th>
		<tbody>
	<tr></tr>
		<td><span style="font-size: 25px">Biography</span></td>
	<tr></tr>
		<td><%= @profile.try(:bio) %></td>
	<tr><%= link_to "編輯個人資料" , edit_user_profile_path(@user) , :class => "btn btn-info" %></tr>
		<td><span style="font-size: 20px "><%= @profile.try(:nickname) %> 的文章</span></td>
		<td>回覆數量</td>
	<tr><% @profiletopics.each do |t|%></tr>
		<td><%= t.title %></td>
		<td><%= t.comments.count %></td>
		<td></td>
			<td></td>	
		<% end %>
	</tbody>
		
</table>

<div><%= paginate @profiletopics , :theme => 'twitter-bootstrap-3', :param_name => "page_topic" %></div>


<table class="table table-striped">
	<th><%= @profiie.try(:nickname) %> 的回覆文章</th>
	<td>回覆文章</td>
	<tr><% @profilecomment.each do |c| %></tr>
	<td><%= c.content %></td>
	<td><%= c.topic.title %></td>		
	<% end %>


</table>

<div><%= paginate @profilecomment , :theme => 'twitter-bootstrap-3', :param_name => "page_comment" %></div>