<tr>
	<td><span style="font-size: 20px">Comment :</span></td>
	<td></td>
	<td ></td>
	<td></td>

	<td><span style="text-align: left">Poster</span></td>

</tr>
<% @topic.comments.each do |c| %>
<tr id="comment-<%= c.id %>">

	<% if c.status == 'published' %>
		<td><%= c.content %></td>
		<td><%= image_tag c.avatar.url(:thumb)%></td>
		<td></td>
		<td>
			<% if current_user == c.user %>	
				<%= link_to "Edit" , topic_path(:id => @topic.id , :comment_id => c.id), :class => "btn btn-primary" %>
			    <%= link_to "Delete" , topic_comment_path(@topic,c.id), :method => "delete", :remote => true , :class => "btn btn-danger" %>
		    <% end %>	
	    </td>
		<td><%= link_to c.user.short_name , user_profile_path(c.user.id)  %></td>

	<% elsif c.status == 'draft' && current_user == c.user %>
		<td><p style="color: #f0f"><%= c.content %></p></td>
		<td><%= link_to "Edit" , topic_path(:id => @topic.id , :comment_id => c.id), :class => "btn btn-primary" %>
			<%= link_to "Delete" , topic_comment_path(@topic,c.id), :method => "delete", :remote => true, :class => "btn btn-danger" %></td>
		<td><%= c.user.short_name %></td>

	<% end %>

		
</tr>
<% end %>


