<% if @topic.errors.any?%>
	<% @topic.errors.full_messages.each do |msg| %>
		<%= msg %>
	<% end %>
<% end %>


<div class="form-group">
	<%= f.label :title , "Topic Title"%>
	<%= f.text_field :title , :class => "form-control"%>
</div>

<div class="form-group">
	<%= f.label :content , "Topic Content"%>
	<%= f.text_area :content , :class => "form-control"%>
</div>


