<h1>Topics List</h1> <span><%= link_to "About" , about_path , :method => :get , :class => "btn btn-info"%></span>
<% if @topic.errors.any? %>
	<% @topic.errors.full_messages do |msg| %>
	<span style="font-size: 15px"><%= msg%></span>
	<% end %>
<% end %>

<%= form_for @topic, html: { multipart: true }  do |f|%>
<%= render :partial => "form" , :locals => { :f => f}%>

<%= f.submit "Confirm", :class => "btn btn-success"%>
<%#= f.submit "Cancel" , :class => "btn btn-warning"%>
<% end %>
<br \>
<%= form_tag topics_path, :method => :get do %>
  <%= text_field_tag "keyword", nil, :placeholder => "Search for Title" %>
  <%= submit_tag "Search" %>
<% end %>
<br \>

<%= link_to "Default" , topics_path(:default => "ddd"), :class => "btn btn-info " , :style =>"border-radius: 50%"%>
<%= link_to "Infernal" , topics_path(:infernal => "1"), :class => "btn btn-primary " , :style =>"border-radius: 50%"%>
<%= link_to "Ocean" , topics_path(:ocean => "2"), :class => "btn btn-primary " , :style =>"border-radius: 50%"%>
<%= link_to "Earth" , topics_path(:earth => "3"), :class => "btn btn-primary " , :style =>"border-radius: 50%"%>
<%= link_to "Cloud" , topics_path(:cloud => "4"), :class => "btn btn-primary " , :style =>"border-radius: 50%"%>
<%= link_to "Elder" , topics_path(:elder => "5"), :class => "btn btn-primary " , :style =>"border-radius: 50%"%>
<%= form_tag topics_path, :method => :get do %>
  <%= text_field_tag "tagkey" ,nil ,:placeholder => "Search for tag" %>
  <%= submit_tag "Search" %>
<% end %>
<% @topics.each do |topic| %>
	<%=raw tag_links(topic.all_tags)%>
<% end %>

<br \>
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<table class="table table-striped table-hover">
				<td><%= link_to "Topic" , topics_path(:order => "title")%></td>
				<td>Poster</td>
				<td><%= link_to "回覆數" , topics_path(:comment_numbers => "comments_number")%></td>
				<td><%= link_to "最新回覆時間" ,topics_path(:comment_time => "comments_at")%></td>
				<td><%= link_to "瀏覽人數" , topics_path(:views_number => "viewers" )%></td>
				<td></td>
				<td>誰回覆您</td>


				<% @topics.each do |topic| %>
					<% if topic.status == "published" %> 	
						<tr id="topic-<%= topic.id%>">

						<td>
							<span id="index-subscribe-<%= topic.id %>">
								<%= render :partial => "subscribe", :locals => { :topic => topic} %>
							</span>	
							<span style="font-size: 20px"><%= link_to topic.title, topic_path(topic) %></span>
						</td>	
						<td><%= link_to topic.user.try(:short_name) ,profile_path(nickname: topic.user.profile.nickname, user_id: topic.user.id) %></td>				
						<td><%= topic.comments_count %></td>
						<td>
						<!-- 時間排序後，第一筆及最後一筆資料會互換，所以在發佈時間排序時，須作調整 -->
							<% if topic.comments.last && params[:comment_time] %>
								<%= topic.comments.first.created_at %>
							<%else%>
								<%= topic.comments.last.try(:created_at)%>
						</td>
						<td><%= topic.views %></td>
						<td>
							<% if current_user == topic.user %>
							<%= link_to "edit" , topics_path(:id => topic.id) , :class => "btn btn-primary"%>
							<%= link_to "Delete" , topic_path(topic) , :method => :delete ,:remote => true , :class => "btn btn-danger"%>
							<% end %>
							<span id="index-like-<%= topic.id %>"><%= render :partial => "like", :locals => { :topic => topic } %></span>
							<span id="index-like-number-<%= topic.id %>"><%= topic.likes.count %> likes</span>
						</td>
						<% end %>
						<td>
						<% if topic.comments.present? %>
							<%= link_to topic.comments.last.user.short_name, user_profile_path(topic.comments.last.user.id) %>
						<% end %>	
							
						</td>
						
						</tr>
					<% elsif topic.status == "draft" && current_user == topic.user %>	
						<tr id="topic-<%= topic.id%>">

						<td><span style="font-family: impact"><%= link_to topic.title, topic_path(topic) %></span></td>	
						<td><%= topic.user.try(:short_name) %></td>				
						<td><%= topic.comments_count %></td>
						<td>
							<% if topic.comments.last && params[:comment_time] %>
								<%= topic.comments.first.created_at %>
							<%else%>
								<%= topic.comments.last.try(:created_at)%>
						</td>
						<td><%= topic.views %></td>
						<td>
							<%#= link_to "show" , topic_path(topic) , :class => "btn btn-success"%>
							<%= link_to "edit" , topics_path(:id => topic.id) , :class => "btn btn-primary"%>
							<%= link_to "Delete" , topic_path(topic) , :method => :delete ,:remote => true , :class => "btn btn-danger"%>
						</td>
						<% end %>
						<td>
						<% if topic.comments.present? %>
							<%= topic.comments.last.user.short_name %>
						<% end %>	
							
						</td>
						
						</tr>
					<% end %>
				<% end %>
			</table>
		</div>
					<%= link_to "Post Topic" , new_topic_path , :class => "btn btn-info" %>
					<div><%= paginate @topics, :theme => 'twitter-bootstrap-3'%></div>
	</div>
</div>