<h1>Topics List</h1>

<%= form_for @topic  do |f|%>
<%= render :partial => "form" , :locals => { :f => f}%>

<%= f.submit "Confirm", :class => "btn btn-success"%>
<%= f.submit "Cancel" , :class => "btn btn-warning"%>
<% end %>

<br \>
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<table class="table">
				<td>Topic</td>
				<td>Poster</td>
				<td></td>	
				<td>回覆數</td>

				<tr><% @topics.each do |topic| %></tr>
				<td>
					<span style="font-size: 20px"><%= link_to topic.title, topic_path(topic) %></span>
				</td>
				<td><%= topic.user.try(:short_name) %></td>				
				<td>
					<%#= link_to "show" , topic_path(topic) , :class => "btn btn-success"%>
					<%= link_to "edit" , topics_path(:id => topic.id) , :class => "btn btn-primary"%>
					<%= link_to "Delete" , topic_path(topic) , :method => :delete , :class => "btn btn-danger"%>
				</td>
				<td><%= topic.comments.count %></td>
				<% end %>
			</table>
		</div>
					<%= link_to "Post Topic" , new_topic_path , :class => "btn btn-info" %>
					<div><%= paginate @topics, :theme => 'twitter-bootstrap-3'%></div>
	</div>
</div>