<h1>Topics List</h1> <span><%= link_to "About" , about_path , :method => :get , :class => "btn btn-info"%></span>
<% if @topic.errors.any? %>
	<% @topic.errors.full_messages do |msg| %>
	<span style="font-size: 15px"><%= msg%></span>
	<% end %>
<% end %>

<%= form_for @topic  do |f|%>
<%= render :partial => "form" , :locals => { :f => f}%>

<%= f.submit "Confirm", :class => "btn btn-success"%>
<%#= f.submit "Cancel" , :class => "btn btn-warning"%>
<% end %>
<br \>
<%= form_tag topics_path, :method => :get do %>
  <%= text_field_tag "keyword" %>
  <%= submit_tag "Search" %>
<% end %>
<br \>

<%= link_to "Default" , topics_path(:default => "ddd"), :class => "btn btn-info " , :style =>"border-radius: 50%"%>
<%= link_to "Infernal" , topics_path(:infernal => "1"), :class => "btn btn-primary " , :style =>"border-radius: 50%"%>
<%= link_to "Ocean" , topics_path(:ocean => "2"), :class => "btn btn-primary " , :style =>"border-radius: 50%"%>
<%= link_to "Earth" , topics_path(:earth => "3"), :class => "btn btn-primary " , :style =>"border-radius: 50%"%>
<%= link_to "Cloud" , topics_path(:cloud => "4"), :class => "btn btn-primary " , :style =>"border-radius: 50%"%>
<%= link_to "Elder" , topics_path(:elder => "5"), :class => "btn btn-primary " , :style =>"border-radius: 50%"%>




<br \>
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<table class="table">
				<td><%= link_to "Topic" , topics_path(:order => "title")%></td>
				<td>Poster</td>
				<td><%= link_to "回覆數" , topics_path(:comment_numbers => "comments_number")%></td>
				<td><%= link_to "最新回覆時間" ,topics_path(:comment_time => "comments_at")%></td>
				<td></td>

				<tr><% @topics.each do |topic| %></tr>
				<td>
					<span style="font-size: 20px"><%= link_to topic.title, topic_path(topic) %></span>
				</td>
				<td><%= topic.user.try(:short_name) %></td>				
				
				<td><%= topic.comments_count %></td>
				<td>
					<% if topic.comments.last %>
					<%= topic.comments.last.created_at %>
					<% end %>
				</td>
				<td>
					<%#= link_to "show" , topic_path(topic) , :class => "btn btn-success"%>
					<%= link_to "edit" , topics_path(:id => topic.id) , :class => "btn btn-primary"%>
					<%= link_to "Delete" , topic_path(topic) , :method => :delete , :class => "btn btn-danger"%>
				</td>
				<% end %>
			</table>
		</div>
					<%= link_to "Post Topic" , new_topic_path , :class => "btn btn-info" %>
					<div><%= paginate @topics, :theme => 'twitter-bootstrap-3'%></div>
	</div>
</div>