<h1><span style="font-size: 50px"><%= @topic.title%></span></h1>

<span style="font-size: 35px">content</span>
<table class="table">
	<td><span style="font-size: 20px"><%= @topic.content %></span></td>
		<tr>
			<td><span style="font-size: 20px">Comment :</span></td>
			<td ><span style="text-align: left">Poster</span></td>
			
			
		</tr>

		<% @topic.comments.each do |c| %>
		<tr>
			<td><%= c.content %></td>
			<td><%= c.user.short_name %></td>
		</tr>
		<% end %>
		
</table>
<%#if @topic.comments.errors.any?%>
	<%# @topic.comments.errors.full_messages.each do |msg|%>
	<%#= msg%>
	<%# end %>
<%# end %>



<%= form_for @comment , :url => topic_comments_path(@topic) do |f|%>
	<%= f.label :content ,"Comment"%>
	<%= f.text_area :content ,:class => "form-control"%>	

	<%= f.submit "confirm" , :class => "btn btn-success"%>

<% end %>

<br \>
<%= link_to "Back to Index" , topics_path , :class => "btn btn-primary"%>